.singleItem {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 0 1rem;
    background: rgb(177, 177, 177);
    height: 250px;
    padding: 0 1rem;
}
.item-title {
    color: rgba(99, 99, 99, 0.6);
}

.item-image {
    height: 120px;
    border-radius: 75px;
}